body {
  background: #f2f2f2;
}

body, div, p, span, ul, h1, h2, h3, h4, h5, h6, ul, li {
  padding: 0;
  margin: 0;
}

.clearfix,.clear-fix {
  &:after {
    content: ' ';
    display: block;
    clear: both;
  }
}

.fll {
  float: left !important;
}

.flr {
  float: right !important;
}